
<div class="jumbotron text-center">
	<h1>Add Video</h1>

  <p>Add a new Video Record</p>
</div>
	
<div ng-controller="videoController">
	<div class="row">
    <div class="col-md-6 col-md-offset-3">

      <form ng-submit="addVideo()"
        style="margin-top:30px;">
        <h3>Add a video to the playlist!</h3>


        <div class="form-group" align="center">
          <input type="text"
          class="form-control"
          placeholder="Search Video Name"
          ng-model="formData.vidName"
          ng-style="{'width': auto}"
          required></input>
        </div>
        <div>
          <p>A Video Id will be generated from the most popular result for your entry.</p>
          <p>By being more specific, you will have a better chance at getting what you want</p>
          <p>For example "Lets go stuck in the sound" instead of just "Lets go"</p>
        </div>
        <!--<div class="form-group" align="center">
          <input type="text"
                 class="form-control"
                 placeholder="Video id"
                 ng-model="formData.vidId"
                 ng-style="{'width': auto}"></input>
        </div> -->
        <div class="form-group" align="center">
          <input type="text"
                 class="form-control"
                 placeholder="User"
                 ng-model="formData.user"
                 ng-style="{'width':auto}"
          required></input>
        </div>

        <button type="submit" class="btn btn-primary">ADD VIDEO!</button>
      </form>

    </div>
  </div>
</div>